@page "/"
@using Conesoft.Blazor.Components.Base
@using Conesoft.Blazor.Components.Interfaces
@using Conesoft.Blazor.Components
@using System.Reflection
@using System.Text.RegularExpressions
@using Conesoft.Services.HomeDevicesControl.Components.Controls

@rendermode InteractiveServer

<main>
    <HostingEnvironment Context="environment">
        <LiveDirectory Directory="@(environment.Global.Storage / "home")" AllDirectories=true>
            @foreach (var group in context.AllFiles.GroupBy(f => f.Parent))
            {
                <section title="@group.Key.Name">
                    <ul class="without-icon">
                        @foreach(var file in group)
                        {
                            <li>
                                <section>
                                    <i>@file.NameWithoutExtension</i>
                                    <b>@file.Now.ReadText()</b>
                                </section>
                            </li>
                        }
                    </ul>
                </section>
            }
        </LiveDirectory>
    </HostingEnvironment>
</main>