@page "/"
@using Conesoft.Blazor.Components.Interfaces
@using Conesoft.Blazor.Components
@using System.Reflection
@using System.Text.RegularExpressions
@using Conesoft.Services.HomeDevicesControl.Components.Controls

@rendermode InteractiveServer

<CascadingAuthenticationState>
    <UserHeaderNav>
        <HomeButtonContent>⌂</HomeButtonContent>
        <NavContent>
            <NavLink>devices</NavLink> ▸
            <NavLink Match=NavLinkMatch.All href="/">actions</NavLink>
        </NavContent>
    </UserHeaderNav>
    <AuthorizeView>
        <Authorized>
            <main>
                <Eraser/>
                <Component/>
            </main>
        </Authorized>
    </AuthorizeView>
</CascadingAuthenticationState>