@inject ActionsList actions

<section title="Toolbar">
    <ul>
        <li>
            <p style="grid-column: 2">✕</p>
            <a title="restart service" @onclick="@ClearList" @onclick:preventDefault=true @onclick:stopPropagation=true>clear list</a>
        </li>
    </ul>
</section>

@code {
    void ClearList()
    {
        actions.Clear();
    }
}
