@using Conesoft.PwaGenerator
@using Conesoft.Services.HomeDevicesControl.Components.Controls

<!DOCTYPE html>
<html lang="en">
<head>
    <HtmlHead />
    <PwaHeaderTags />
</head>
<body>
    <Routes />
    <BootBlazor />
</body>

</html>
